.login-container{
    background:  url("../../assets/images/login-back.jpg") no-repeat ; 
    height: 100%;
    background-size: cover
}
.login-form{
        min-width: 150px;
        max-width: 500px;
        width: 100%;
}
.login-content{
    margin-left: 41%;
    padding-top: 7%;
}
.required{
    color: red;
}

.title-login{
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 25px;
    font-family: "Helvetica";
  }
