/* You can add global styles to this file, and also import other style files */
  /* Imports  */
  @import url('https://fonts.googleapis.com/css?family=Montserrat');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
    background-color: #eaeaea;;
  }
  .floatLeft{
    float: left;
  }
  .button{
    text-align: center;
  }
  .floatRight{
    float: right;
  }
  .fill-remaining-space {
    flex: 1 1 auto;
  }
  .header-image-height {
    height: 30px;
    width: 120px;
    padding: 0px;
  }
  .panelBodyCustom{
    margin-left: 50px;
    overflow: hidden;
  }
  .mat-toolbar-row{
    background-color: #3d6173;
    height: 50px;
    margin-top: 0px;
    padding: 0px 9px 0px 9px !important;
  }
  .mat-toolbar-multiple-rows {
    padding: 0px;
    margin: 0px;
  }
  .user-font{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: white;
    font-family: "Helvetica";
    margin-right: 20px;
  }
.dashboard-container{
    width: 100%;
    height: 100% !important;
    margin-right: auto;
    margin-left: auto;
  }

  .form-button{
    height: 30px;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: bold;
    letter-spacing: 0px;
    font-family: "Helvetica";
    line-height: 1 !important;
    margin-right: 7px !important;
  }
/* Generic Style */
body{
  background-color: #eaeaea;;
}
.floatLeft{
  float: left;
}
.floatRight{
  float: right;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.header-image-height {
  height: 30px;
  width: 120px;
  padding: 0px;
}

.mat-toolbar-multiple-rows {
  padding: 0px;
  margin: 0px;
}
.errorField label.mat-form-field-placeholder{
  color: red;
}
.errorField .mat-form-field-underline .mat-form-field-ripple, .errorField .mat-form-field-underline{
  background-color: red;
}
.user-font{
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 25px;
  color: white;
  font-family: "Helvetica";
  margin-right: 20px;
}
.title{
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 25px;
  color:white;
  font-family: "Helvetica";
}

.no-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.left-margin-1-per {
  margin-left: 1%;
}

.right-margin-1-per {
  margin-right: 20px;
  /* color: #3D6274; */
}

.top-margin-20-px {
  margin-top: 20px;
}

.borderset {
  border: 1px solid #3D6274;
  background-color: #3D6274;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: white;
}

.border-margin {
  margin: 10px 20px;
}

.span-right {
  float: right;
  font-family: "Helvetica";
  font-weight: bold;
}

.pointer-cursor {
  cursor: pointer;
}

.borderset-below {
  border: 1px solid #D0D0D0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 1px 0px #D0D0D0;
  margin-bottom: 15px;
}

.form-button.secondary{
  color: #3d6173;
  border: 1px solid #3d6173;
  background-color: #ffffff;
}
a {
  color: #3D6274;
  text-decoration: none;
}

i {
  font-size: 18px !important;
}


.tab-icon {
  vertical-align: middle;
}

.tab-text {
  /* vertical-align: middle;
  padding-left: 3px;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 25px; */
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 25px;
  font-family: "Helvetica";
  margin-top: 4px;
  color: #333;

}
.mat-tab-label .icon {
  padding-top: 7px !important;
  color: #1d2d34c7 !important;
}

.tabHolder {
  /*position: relative;*/
  margin-top: 36px;
  padding: 0px;
  margin-bottom: 22px;
  width: 95%;
  margin-left: 2.5%;
}

.tabAsLink {
  float: right;
  margin-top: -43px;
  position: relative;
  bottom: 0;
  right: 0;
  z-index: 99;
  padding: 10px 0;
}

.tabAsLink a {
  padding: 5px 0 5px 5px;
  text-decoration: none;
}

a.separator {
  position: relative;
  padding-right: 12px;
}

a.separator:after {
  /*content: '|';*/
  content: '';
  border-right:1px solid  #B0B0B0;
  position: absolute;
  right: 0;
  height: 32px;
  top: -2px;
}

.iconAlign {
  vertical-align: middle;
}


.panel-default>.panel-heading {
  height: 50px;
  background-color: #3d6173;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 25px;
  color: rgb(255,255,255);
  font-family: "Montserrat";
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.panel {
  margin-bottom: 20px;
}
.contain:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.contain {
  display: block;
}

#btnToExportAllDetails {
  float: right;
  font-weight: bold;
  margin-right: 35px;
}

#btnToExportAllDetails span {
  font-weight: normal;
}



.labelsInBold {
  font-weight: bold;
}

.grid-container mat-row:nth-child(odd) {
  background-color: #F0F5F8;
}

.grid-container mat-row:nth-child(even) {
  background-color: #ffffff;
}

.mat-cell {
  align-content: center;
  font-size: 16px;
}

.mat-column-userId {
  font-weight: bold;
}



.mat-snack-bar-container {
  background:#3D6274;
}
.mat-column-date_resolved {
  padding: 5px;
}

.mat-calendar-body-selected {
  background-color: #3D6274;
}
.mat-input-element{
  /* color: rgb(51,51,51) !important; */
  /* font-size: 14px !important; */
}
.body-scroll-show {
  overflow: auto;
}

.body-scroll-hide {
  overflow: hidden;
}
.fadedLabel {
  opacity: 0.7;
}


/* Genric Style Ends */

/* Loader */
/*
.loader {
  /*border: 8px solid #f3f3f3;
  border-top: 8px solid #6E92A3;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  /*animation: spin 1s linear infinite;
  background: url("assets/images/circle-animated.gif");
  position: fixed;
  left: 50%;
  top: 50%;
  margin: 0px auto;
  background-color: transparent;
  transform: translate(-50%,-50%);
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.loadercontainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
*/
/*****Page Loader*******/
#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:rgba(255,255,255, 0.8);
  z-index: 1200;
}

#page-loader.fade {
  display: none;
}
#page-loader.fade.in {
  display: block;
}
@-webkit-keyframes rotation {
 from {-webkit-transform: rotate(0deg);}
 to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
 from {-moz-transform: rotate(0deg);}
 to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
 from {-o-transform: rotate(0deg);}
 to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
 from {transform: rotate(0deg);}
 to {transform: rotate(359deg);}
}
.spinner,
.spinner-small {
  height: 40px;
  width: 40px;
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px -20px 0 0;
  border: 2px solid #fff;
  /* border-top: 2px solid $ttx-background-color; */
  border-radius: 100%;
}
.fade.in .spinner,
.fade.in .spinner-small {
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
}
.spinner-small {
  border: 2px solid rgba(0,0,0,0.05);
  /* border-top: 2px solid $ttx-background-color; */
  height: 30px;
  width: 30px;
  margin: -15px -15px 0 0;
}

/*****Page Loader*******/

/*Loader CSS
==============================*/
.my-loader{ background-color:#3d6173 !important; }
.loader {
  background-color: transparent;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
 }
/*.loader { text-align:center; position:absolute; z-index:9; left:0; right:0; top:0; bottom:0; width:100%;height:100%; background-color:rgba(255,255,255,0.9); padding-top:25%; }*/
/*Loader CSS
==============================*/

.loadercontainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #fff;
}
.box {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #fff;
  left: 50%;
  margin-left: -40px;
  top: 50%;
  margin-top: -40px;
}

.loading:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  border-radius: 50%;
  border-width: 2px 1px;
  border-style: solid;
  border-color: #3d6173 rgba(61, 97, 115, 0.3);
  -webkit-animation: spin 3s infinite;
  -moz-animation: spin 3s infinite;
  animation: spin 3s infinite;
}
.loading:after {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.6666666667px;
  height: 16.6666666667px;
  top: 50%;
  margin-top: -8.3333333333px;
  left: 50%;
  margin-left: -8.3333333333px;
  border-radius: 50%;
  background-color: #ddbb00;
  -webkit-animation: pulse 6s infinite, borderPulse 6s infinite;
  -moz-animation: pulse 6s infinite, borderPulse 6s infinite;
  animation: pulse 6s infinite, borderPulse 6s infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(1080deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes pulse {
  0% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  13% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  15% {
    background-color: rgba(137, 174, 192, 0.9);
  }
  28% {
    background-color: rgba(137, 174, 192, 0.9);
  }
  30% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  43% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  45% {
    background-color: rgba(137, 174, 192, 0.9);
  }
  70% {
    background-color: rgba(137, 174, 192, 0.9);
  }
  74% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  100% {
    background-color: rgba(137, 174, 192, 0.9);
  }
}
@-moz-keyframes pulse {
  0% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  13% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  15% {
    background-color: rgba(137, 174, 192, 0.9);
  }
  28% {
    background-color: rgba(137, 174, 192, 0.9);
  }
  30% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  43% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  45% {
    background-color: rgba(137, 174, 192, 0.9);
  }
  70% {
    background-color: rgba(137, 174, 192, 0.9);
  }
  74% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  100% {
    background-color: rgba(137, 174, 192, 0.9);
  }
}
@keyframes pulse {
  0% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  13% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  15% {
    background-color: rgba(137, 174, 192, 0.9);
  }
  28% {
    background-color: rgba(137, 174, 192, 0.9);
  }
  30% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  43% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  45% {
    background-color: rgba(137, 174, 192, 0.9);
  }
  70% {
    background-color: rgba(137, 174, 192, 0.9);
  }
  74% {
    background-color: rgba(61, 97, 115, 0.2);
  }
  100% {
    background-color: rgba(137, 174, 192, 0.9);
  }
}
@-webkit-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 #3d6173, 0 0 0 2.7777777778px rgba(61, 97, 115, 0.8);
  }
  40% {
    box-shadow: 0 0 0 2.7777777778px #3d6173, 0 0 0 5.5555555556px rgba(61, 97, 115, 0.8);
  }
  80% {
    box-shadow: 0 0 0 8.3333333333px #3d6173, 0 0 1px 8.3333333333px rgba(61, 97, 115, 0.8);
  }
}
@-moz-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 #3d6173, 0 0 0 2.7777777778px rgba(61, 97, 115, 0.8);
  }
  40% {
    box-shadow: 0 0 0 2.7777777778px #3d6173, 0 0 0 5.5555555556px rgba(61, 97, 115, 0.8);
  }
  80% {
    box-shadow: 0 0 0 8.3333333333px #3d6173, 0 0 1px 8.3333333333px rgba(61, 97, 115, 0.8);
  }
}
@keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 #3d6173, 0 0 0 2.7777777778px rgba(61, 97, 115, 0.8);
  }
  40% {
    box-shadow: 0 0 0 2.7777777778px #3d6173, 0 0 0 5.5555555556px rgba(61, 97, 115, 0.8);
  }
  80% {
    box-shadow: 0 0 0 8.3333333333px #3d6173, 0 0 1px 8.3333333333px rgba(61, 97, 115, 0.8);
  }
}
.mousePointer{
  cursor: pointer;
}
/* Mat component styles */
.mat-toolbar {
  width: 1400px;
  background-color: white;
  border-bottom: 1px solid #bebebe;
 }
 .mat-select-value{
  color: rgb(114,114,114);
  font-family: "Helvetica";
 }
 .mat-input-infix.mat-form-field-infix{
  color: rgb(114,114,114);
  font-family: "Helvetica";
 }
 
.mat-drawer-content{
  background-color: rgb(255,255,255) !important;
  }
  .mat-tab-label.mat-tab-label-active {
    color: white;
    padding: 0px;
    opacity: 1;
    width: 210px;
    height: 62px;
    background-color: #3d6173 !important;
  }
  
  .mat-tab-header {
    border-bottom: solid 2px #3d6173;
  }
  
  .mat-tab-labels {
    /* color: white !important; */
    font-size: 18px !important;
    letter-spacing: 0px !important;
    line-height: 25px !important;
    color: rgb(255,255,255)!important;
  }
  
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #3D6274;
  }
  md-tabs .md-tab.md-active {
    color: #37474F;
  }
  
  .mat-tab-label-container {
    margin-bottom: -2px;
  }
  
  md-tabs.md-default-theme {
    color: #37474F;
  }
  
.mat-form-field-ripple {
  background-color: #3D6274;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow,
.mat-focused .mat-form-field-placeholder {
  color: #3D6274;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background-color: #3D6274
}
.mat-pseudo-checkbox {
  width: 16px !important;
  height: 16px !important;
  border: 1px solid #6d92a4 !important;
  margin-top: 2px;
}
.mat-checkbox-frame{
  width: 16px !important;
  height: 16px !important;
  border: 1px solid #6d92a4 !important;
}
.mat-pseudo-checkbox-checked::after {
  top: 3px !important;
  left: 1px !important;
}
.mat-focused{
  color:#3D6274 !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #3D6274 !important;
}
.mat-checkbox-layout .mat-checkbox-label {
  color: #3d6173 !important;
}

.mat-primary .mat-pseudo-checkbox-checked{
  background-color:#3D6274 !important;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #3D6274;
}
.mat-elevation-z8 {
  box-shadow: none !important;
}
/* .selectTopSection .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  transition: none !important;
} */
/* .selectTopSection .mat-checkbox-ripple{
  display: none !important
} */
.selectTopSection .mat-ripple-element {
  background-color: #b4b4b49c !important;
  /* transition: none !important; */
}
.mat-paginator{
height:70px;
}


.inputHolderClear .mat-button:hover .mat-button-focus-overlay {
  display: none;
}


.tableHolder .panel-body {
  padding: 0 !important;
}

.tableHolder .panel-body .mat-elevation-z8 {
  box-shadow: none !important;
}


.clear {
  clear: both;
}

.grid-container mat-row:nth-child(odd) {
  background-color: #ffffff;
}

.grid-container mat-row:nth-child(odd) {
  background-color: #e6eef2;
}

.mat-cell {
  align-content: center;
}

.mat-column-userId {
  font-weight: bold;
}

.mat-header-row {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgb(51,51,51);
  font-family: "Helvetica";
  font-weight: bold;
}
.mat-sort-header-button{
  text-align: left;
}
.mat-sort-header-container{
  position: relative;
  display: inline-block !important;
}
.mat-sort-header-arrow {
  position: absolute !important;
  right: -20px;
  top: 50%;
  margin-top: -6px !important;
}
.mat-header-cell{
  font-size: 18px !important;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgb(51,51,51);
  font-family: "Helvetica";
  font-weight: bold;
  border-bottom: 1px solid #AFC0D4;
}

.mat-select-value-text {
  color: rgb(51,51,51);
  font-family: "Helvetica";
}

.mat-paginator-range-label {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 42px;
  color: rgb(51,51,51);
  font-family: "Helvetica";
}
.mat-checkbox .mat-accent .mat-checkbox-label{
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 3em !important;
  color: rgb(51,51,51);
  font-family: "Helvetica" !important;
  font-weight: 100 !important;
}
mat-ripple-element{
  background-color: black !important;
  transition: none !important;
}
.mat-paginator-page-size-label {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 42px;
  color: rgb(51,51,51);
  font-family: "Helvetica";
}


/* //////////////////////////////////////
//////////// RESPONSIVE ///////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////// */

.dashboard-icon{
  width: 40px;
  height: 38px;
  margin-right: 6px;
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 767px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 991px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1199px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 321px) {
  body {
    font-size: 10px;
  }
  .mat-cell {
    font-size: 10px;
  }
  .mat-column-date_created {
    padding: 10px;
  }
  .mat-table {
    width: 277px;
  }
}



/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .mat-cell {
    font-size: 10px;
  }
  .mat-column-date_created {
    padding: 10px;
  }
  body {
    font-size: 12px;
  }
  .mat-toolbar {
    background-color: white;
    border-bottom: 1px solid #acacac;
}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  
  }
  @media only screen and (max-width: 667px) and (min-width: 375px){
    .pushRight{
      margin-left: 20px !important;
    }
  }

/************* width correction on smaller devices than 1440px ***********/
@media only screen and (max-width: 1439px) {
  .dashboard-container {
    width: 100%;
    height: 100%;
  }

}
.mat-table{
  display: table !important;
  width: 100%;
}
.mat-header-row, .mat-row {
  display: table-row !important;
}
.mat-cell, .mat-header-cell {
  display: table-cell;
  padding: 15px;
  vertical-align: middle;
}
.cdk-column-title.mat-column-title {
  max-width: 225px !important;
}
.mat-tab-label.mat-tab-disabled{
  height: 62px;
  opacity: 0.6;
  cursor: not-allowed !important;
}
@media only screen and (max-width: 959px) {
  .hideXS{
    display: none;
  }
  .panel-default>.panel-heading {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    padding-top: 13px;
    padding-bottom: 12px;
    line-height: 1;
  }
}
.mat-paginator-container{
  justify-content: center !important;
}

/* .cdk-overlay-pane{
  overflow: auto;
} */
.mat-tab-body-content {
  background: #F5F5F5 !important;
  overflow: hidden !important;
}
.panelHead{    
  height: 50px;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 25px;
  color: black;
  font-family: "Montserrat";
  padding: 15px 20px 10px 20px;
  font-weight: bold;
  text-align: center;
}
.popUpContent{
  padding: 20px;
}
.padL0{
  padding-left: 0 !important;
}
.padR0{
  padding-right: 0 !important;
}
.topRow{
  border-bottom: 2px solid #C3C8CB;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
.topRow h4{
  margin: 0 !important;
}
.topRow .progressBarStripe{
  margin-right: 0;
}
.topRow h4 span{
  color: #406274;
}
.otherRowHolder{
  padding: 0 10px;
}
.otherRowHolder .col-md-3 {
  width: 20%;
}

.closepopUp{
  position: absolute;
  top: -12px;
  right: -12px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #406274;
  color: #fff;
  padding: 4px 8px;
  cursor: pointer;
  box-shadow: 1px 0px 1px 1px #fff;
}


.ui-widget-content{
  border: none !important;
}
.ui-datatable-data.ui-widget-content {
  background: #ffffff;
  color: #222222;
  font-size: 16px !important;
  letter-spacing: 0px !important;
  color: rgb(51,51,51) !important;
  font-family: "Helvetica" !important;
}
.ui-datatable .ui-datatable-thead>tr>th{
  vertical-align: top !important;
  color: #6d92a4 !important;
}
/* Mobile CSS */
.info-svg{
  width: 30px;
}
.mobile-data-table .ui-datatable table{
  table-layout: auto !important;
}


/*************** MOBILE STYLING *****************/

@media only screen and (max-device-width: 959px) {
  .outer-container{
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* Mobile Side nav keep this out of media query */
.mat-sidenav {
  width: 75% !important;
  max-width: 500px !important;
}
.mat-sidenav .mat-toolbar-row{
  height: 85px !important;
  padding: 15px !important;
}
.mat-sidenav .user-icon-container{
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  padding: 3px 6px !important;
}
.mat-sidenav .user-icon-container .user-pic {
  width: 100%;
  height: auto !important;
  color: #3d6173;
  margin-left: 0;
  margin-top: 0;
}
.mat-sidenav .mat-toolbar-row span{
  font-size: 18px;
  padding-left: 10px;
  color: #fff;
  font-family: 'helvetica';
  max-width: 213px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

@media only screen and (max-width: 959px) {
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0,0,0,0.1);
  }

  .header-image-height{
    width: 75px;
    height: auto;
  }
  .mat-toolbar{
    margin-bottom: 15px;
  }
  .mat-sidenav .mat-toolbar{
    margin-bottom: 0px;
  }
  html, body{
    background-color: #ffffff;
    height: 100%;
  }
  .mat-form-field {
    margin-right: 0px !important;
    width: 100% !important;
    margin-left: 0px !important;
    padding-left: 22px;
    padding-right: 22px;
  }

  .mat-form-field-flex {
    width: 100%;
  }
  /*.mat-sidenav-content{
    min-height: 664px !important;
  }*/
  .mat-icon-button{
    width: 15px !important;
    height: 40px !important;
    margin-right: 15px !important;
  }
  .backButton, .cancelButton {
      border: 0;
      font-size: 15px;
      padding: 0;
      color: #9D9D9D;
      margin-bottom: 12px;
  }
  .cancelButton {
    color: #406274;
  }
  .mobileProgress .progressBarStripe {
    float: left !important;
    width: 100% !important;
    max-width: 410px !important;
    margin: 0 0 10px 0;
  }
  .otherRowHolder.mobileProgress {
      padding: 0;
      margin-bottom: 10px;
  }
  .dashboard-container {
    height: 100%;
  }
  .mat-drawer-container{
    height: 100%;
    background: black !important;
  }
  .panel-default{
    border: 0 !important;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 639px) {
  .tabPanel .progressBarStripe span {
    font-size: 14px !important;
    line-height: 1;
    padding: 7px 10px 7px 20px !important;
  }
  .grid-container .progressBarStripe span{
    padding: 5px 10px 5px 20px !important;
  }
  .tableHolder .ui-dropdown .ui-dropdown-trigger {
    top: 5px;
  }
}


/****************** ERROR PAGE STYLING ********************/
.errorPageDiv {
  height: calc(100vh - 65px);
  padding-top: 128px;
}
/*************** SNACK BAR ELEMENT STYLING ********************/
.mat-simple-snackbar {
  font-family: "Montserrat";
  font-size: 18px;
}

